.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.simple-enter-active,
.simple-leave-active {
  transition: all 0.2s ease-in-out;
}
.simple-enter,
.simple-leave-to {
  opacity: 0;
}
