// This is main style file
// Edit this instead of "main.scss"

$primary: rgb(5, 119, 226);
$primaryHover: rgb(3, 95, 180);
$secondary: rgb(85, 85, 85);
$secondaryHover: rgb(44, 44, 44);

$borderRadius: 6px;

%no-outline {
  outline: none !important;
}

%std-transition {
  transition: all .3s ease;
}

%std-padding {
  padding: 3px 10px;
}

%thin-border {
  border: solid gray 1px;
}

%std-border-radius {
  border-radius: $borderRadius;
}

%std-box-shadow {
  box-shadow: 1px 1px 3px gray;
}

.faded {
  opacity: 0.6;
}

body {
  background-color: #eee !important;
}

nav,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Special Elite', 'Consolas', sans-serif;
}

.btn-back {
  background-color: white;
  @extend %thin-border;
  @extend %std-border-radius;
  @extend %std-padding;
  @extend %std-transition;
  @extend %no-outline;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  z-index: 150;
}
.btn-back:hover {
  background-color: rgb(200, 200, 200);
}

.search-wrapper {
  @extend %std-border-radius;
  padding: 15px 30px;
  display: inline-block;
  background-color: white;
  top: 0;

  form.search {

    label {
      margin-bottom: 2px;
      padding-left: 7px;
    }
    input, button {
      @extend %std-padding;
      @extend %no-outline;
      @extend %thin-border;
    }
    input {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }
    button {
      @extend %std-transition;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      background-color: $primary;
      color: white;
      margin-left: -5px;
    }
    button:hover {
      background-color: $primaryHover;
    }
  }
}

.tag-wrapper {
  button.tag {
    @extend %std-transition;
    @extend %std-padding;
    @extend %no-outline;
    @extend %std-border-radius;
    display: inline-block;
    background-color: $secondary;
    color: white;
    border: none;
    margin: 3px;
    font-size: 15px;
    font-weight: 200;
  }

  button.tag:hover {
    background-color: $secondaryHover;
  }
}

.avatar-wrapper {
  margin: 5px 0;
  position: relative;

  .image-container {
    height: auto;
    position: relative;
    margin-bottom: 100%;

    img {
      border-radius: $borderRadius;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      @extend %std-box-shadow;
    }
  }

  .btn-container {
    display: flex;

    .tags, .download {
      @extend %thin-border;
      @extend %std-border-radius;
      @extend %std-transition;
      transition-timing-function: ease-out;
      @extend %no-outline;
      background-color: white;
      flex: auto;
      margin: 3px;
      opacity: 0;
    }
    .tags:hover, .download:hover {
      background-color: rgb(204, 204, 204);
    }
  }
}
.avatar-wrapper:hover {

  .tags, .download {
    opacity: 1;
  }
}

// Vue transition between pages
.fade-enter-active,
.fade-leave-active {
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
